footer {
    background-color: rgb(176, 166, 180);
    margin-top: 20px;
    margin-bottom: 20px;
    color: #240941;
    font-style: italic;
    text-align: center;
    font-family: 'Segoe UI';
    padding: 10px;
}