.cabecera {
    background-color: #F7EFE5;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  header h1 {
    /* font-family: 'Mukta', sans-serif; */
    color: #3D1766;
    text-shadow: 1px -1px 22px rgba(59, 50, 50, 0.86);
    font-size: 30px;
    font-style: italic;
    margin-left: 25px;
    animation: color-change 2s infinite;
  }
  @keyframes color-change {
    0% {
      color: #10021f; /* Color inicial */
    }
    50% {
      color: #9055ad; /* Color intermedio */
    }
    100% {
      color: #10021f; /* Color final */
    }
  }
  
  
  
  
  
  
  
  
  
  /* .logo {
    border-radius: 10px;
    width: 200px;
    margin-left: 15px;
    margin-right: 15px;
     
  } */
  .logo {
    transition: transform 0.3s ease;
  }
  
  .logo:hover {
    transform: scale(1.2); /* Ajusta el valor según tu preferencia */
  }