<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
</head>

<body>
    <header>
        <div className="cabecera">
            <img className="logo" src="/images/Logo.png" width="150" alt="Aquí va el logo" />
            <h1>Tu mejor opción para espacios reducidos</h1>
        </div>
    </header>
    {{{body}}}
    <footer>
        <h3>Página creada por Juan Carlos Vega</h3>
    </footer>


</body>

</html>