<div class="container" style="margin:50px auto">
    <div class="row">
        <p class="text_right"> Hola {{persona}} !<a class="btn btn-danger" href="/admin/login/logout">Cerrar Sesión <i
                    class="fas fa-sing-out-alt"><i /></a></p>


    </div>
</div>