h1{
    background-color: #439A97;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #E6DDC4;
    text-align: right;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}
/* hago que cada columna ocupe el 50% de ancho */
.columna{
    width: 50%;
    background-color: #E6DDC4;
}
/* pongo que el display de la section sea flex para que me aprezca como clumna */
.padre{
    display:flex;
}

img{
    width: 50%;
    border-style: solid;
    border-color: #439A97;
    margin-left: 10%;
    margin-right: 10%;
}
h2{
    text-align:left;
    color:#439A97;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom:#439A97;
}
