.mainquiensomos {
    background-color: #F7EFE5;
    color: #1a0c31;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 15px;
}



.contenedorintegrantes {
    display: flex;
    flex-direction: row;
    align-content: center;
    /* justify-content: center; */
    justify-content: space-between;

}

.cajaintegrante {
    background-color: #c6b5e19c;
    color: #240941;
    margin: 10px;
    border-radius: 10px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cajaintegrante:hover {
    background-color: #d0c3e5;
    color: #4f2f72;
    margin: 10px;
    box-shadow: 9px 10px 10px -4px rgba(211, 193, 224, 0.88);
    border-radius: 10px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cajaintegrante img {
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    box-shadow: 24px 17px 26px 11px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 24px 17px 26px 11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 24px 17px 26px 11px rgba(0, 0, 0, 0.75);
    transition: 200ms;
}

.cajaintegrante img:hover{
    width: 250px;
    height: 250px;
    transition: 200ms;
}

/* Media Queries */
@media (max-width: 768px) {
    .contenedorintegrantes {
        flex-wrap: wrap;
    }

    .cajaintegrante {
        width: 90%;
        padding: 15px;
    }

    .cajaintegrante img {
        width: 120px;
        height: 120px;
    }
}