
.mainnovedades {
    background-color:#d0c3e5;
    color: #ded9e6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 15px;
   
}

.mainnovedades h2 {
    border-bottom: 5px solid #e5dbeb;
    text-shadow: 5px 2px 8px rgba(165, 137, 192, 0.82);
}

.novedad {
    background-color: #3D1766;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 0px 0px 50px 0px;
    padding: 20px;
}

.mainnovedades h2:hover{
    transition: 200ms;
    height: 40px;
    width: auto;
    font-size: 30px;
}