/* 
.mainnovedades {
    background-color:#d0c3e5;
    color: #ded9e6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 15px;
   
}

.mainnovedades h2 {
    border-bottom: 5px solid #e5dbeb;
    text-shadow: 5px 2px 8px rgba(165, 137, 192, 0.82);
}

.novedad {
    background-color: #3D1766;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 0px 0px 50px 0px;
    padding: 20px;
}

.mainnovedades h2:hover{
    transition: 200ms;
    height: 40px;
    width: auto;
    font-size: 30px;
} */
.section{
    background-color: rgb(231, 215, 250);
}

.holder h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    color:rgb(36, 14, 70);
    transition: 300ms;
}

.holder h2:hover{
    font-size: 40px;
    transition: 300ms;
}

.holder h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color:rgb(36, 14, 70);
    transition: 300ms;
}

.holder h3:hover{
    font-size: 30px;
    transition: 300ms;
}


.holder h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color:rgb(36, 14, 70);
    transition: 300ms;
}

.holder h4:hover{
    font-size: 20px;
    transition: 300ms;
}
.novedad {
    background-color: black;
}

/* Media Queries */
@media (max-width: 768px) {
    .holder h2 {
        font-size: 24px;
    }

    .holder h3 {
        font-size: 16px;
    }

    .holder h4 {
        font-size: 12px;
    }
}